<div class="col-lg-4 col-sm-6">
	<div class="portfolio-box"> 
	<img class="img-fluid" src="{{src}}" alt="{{name}}"/>
		<div class="portfolio-box-caption">
			<div class="portfolio-box-caption-content">
				<div class="project-category text-faded">
					Category
				</div>
				<div class="project-name">
					{{name}}
				</div>
				<div class="project-description">
					{{description}}
					<hr>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer-course">
	{{#schedules}}
		{{schedule}}

			{{^signup}}
			{{^isFull}}
			<a class="btn btn-sign simple_confirmSign" data-coursename="{{course.name}}" data-idschedule="{{idSchedule}}" onclick="showDialogEnroll(this)">SIGN UP</a>
			{{/isFull}}
			{{#isFull}}
			<a class="btn btn-dark simple_confirmQuit" data-coursename="{{course.name}}" data-idschedule="{{idSchedule}}" onclick="showDialogSoldOut(this)">SOLD OUT</a>
			{{/isFull}}
			{{/signup}}

			{{#signup}}
			<a class="btn btn-quit simple_confirmQuit" data-coursename="{{course.name}}" data-idschedule="{{idSchedule}}" onclick="showDialogUnEnroll(this)">QUIT</a>
			{{/signup}}

   		Capacity: {{listUsers.size}}/{{MAXIMUM_CAPACITY}}
   		<br>
	{{/schedules}}
    </div>
    <br>
</div>
   		

